.App {
  font-family: "Tahoma", serif;
}

.App header {
  background: rgb(193,0,0,255);
  text-align: left;
  border-bottom: 2px solid rgb(78, 78, 78);
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  box-shadow: 0 2px 24px 0 rgb(0 0 0 / 15%);
  animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
  padding-top: 0.50em;
  padding-bottom: 0.50em;
}

.App header .buttons1 Button {
  color: white;
  background-color: #ffffff;
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
  margin-left: 3em;
  font-size: large;
}

.App .edit {
  margin: 1em auto;
  width: 90%;
}